html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  font-family: Roboto, sans-serif;
}

/*Tabs navigation*/
.login-logout-card .card-header{
    padding: 0px 0px 12px 0px;
}

.login-logout-card ul.nav-tabs{
    margin: 0px 0px -12px 0px;
}

.login-logout-card li.nav-item{
    width: 50%;
}

.login-logout-card a.nav-link{
    font-size: 1rem;
    color: #495057;
    text-align: center;
    padding: 1rem;
}

.login-logout-card .card-body{
    padding: 10px 20px;
}